<h1>Prescriptions</h1>

<ul>
  <% @prescriptions.each do |prescription| %>
    <li>
      <%= link_to prescription.name, prescription %>
    </li>
  <% end %>
</ul>

<%= link_to "New Prescription", new_prescription_path %>

